/* .Undefined h1 {
    padding-top: 50px;
    font-size: 80px;
}

@media screen and (max-width: 1024px) {
    .Undefined h1 {
        font-size: 70px;
    }
}

@media screen and (max-width: 767px) {
    .Undefined h1 {
        padding-top: 0px;
        font-size: 50px;
    }
}

.Undefined h2 {
    margin-top: 30px;
    font-size: 24px;
    margin-bottom: -25px;
}

@media screen and (max-width: 1024px) {
    .Undefined h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 767px) {
    .Undefined h2 {
        font-size: 24px;
    }
} */