@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
a:hover {
  opacity: 0.75;
}

body {
  margin: 0;
  padding: 0;
  background: url("https://raw.githubusercontent.com/light9639/PortFolio/main/assets/background.jpg");
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
  font-weight: 700;
}
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 2.5em;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 2em;
  }
}

h2 {
  font-size: 2.5em;
  line-height: 1.1;
  font-weight: 700;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  -webkit-transition: border-color 0.25s;
  transition: border-color 0.25s;
}
button :hover {
  border-color: #646cff;
}
button :focus,
button :focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.Undefined h1 {
  padding-top: 50px;
  font-size: 80px;
}
@media screen and (max-width: 1024px) {
  .Undefined h1 {
    font-size: 70px;
  }
}
@media screen and (max-width: 767px) {
  .Undefined h1 {
    padding-top: 0px;
    font-size: 50px;
  }
}

.Undefined h2 {
  margin-top: 20px;
  font-size: 50px;
  margin-bottom: -25px;
}
@media screen and (max-width: 1024px) {
  .Undefined h2 {
    font-size: 36px;
  }
}
@media screen and (max-width: 767px) {
  .Undefined h2 {
    font-size: 30px;
  }
}

.text_gradient,
h2 span {
  background-image: linear-gradient(135deg, #bd34fe 10%, #53baff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.text_gradient2 {
  background-image: linear-gradient(-20deg, #0072ff, #00c6ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.PortFolio_move,
.Github_move {
  background: linear-gradient(225deg, #0072ff, #00c6ff);
  color: #fff;
  border-radius: 5px;
}

.first_button,
.second_button,
.purple_box {
  background: linear-gradient(45deg, #bd34fe, #53baff);
}

.small_box {
  background-image: linear-gradient(-25deg, #f9d423 0%, #ff4e50 100%);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}