@tailwind base;
@tailwind components;
@tailwind utilities;

$pc1024: 1024px;
$mobile767: 767px;

@mixin respond($size) {
  @media screen and (max-width:$size) {
      @content;
  }
}

@mixin text_content(){
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/** body 속 여러 요소들 설정 */
body {
  margin: 0;
  padding: 0;
  background: url("https://raw.githubusercontent.com/light9639/PortFolio/master/src/img/background.jpg");
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow-x: hidden;
  #root {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    @include respond($pc1024) {
      padding: 1rem;
    }
  }

  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    :hover {
      filter: drop-shadow(0 0 2em #646cffaa);
    }
    .react:hover {
      filter: drop-shadow(0 0 2em #61dafbaa);
    }
  }

  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .card {
    padding: 2em;
  }

  .read-the-docs {
    color: #888;
  }

  a {
    font-weight: 500;
    text-decoration: none;
    transition: .5s;
    &:hover {
      opacity: .75;
    }
  }

  h1 {
    font-size: 3em;
    line-height: 1.1;
    font-weight: 700;
    @include respond($pc1024) {
      font-size: 2.5em;
    }
    @include respond($mobile767) {
      font-size: 2em;
    }
  }

  h2 {
    font-size: 2.5em;
    line-height: 1.1;
    font-weight: 700;
  }

  /** Button CSS */
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    :hover {
      border-color: #646cff;
    }
    :focus,
    :focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
    }
  }
}


/** Undefined h1,h2 폰트 사이즈 */
.Undefined h1 {
  padding-top: 50px;
  font-size: 80px;
  @include respond($pc1024) {
    font-size: 70px;
  }
  @include respond($mobile767) {
    padding-top: 0px;
    font-size: 50px;
  }
}

.Undefined h2 {
  margin-top: 20px;
  font-size: 50px;
  margin-bottom: -25px;
  @include respond($pc1024) {
    font-size: 36px;
  }
  @include respond($mobile767) {
    font-size: 30px;
  }
}

/** 텍스트 그라데이션 */
.text_gradient,
h2 span {
  background-image: linear-gradient(135deg, #bd34fe 10%, #53baff 100%);
  @include text_content
}

.text_gradient2 {
  background-image: linear-gradient(-20deg, #0072ff, #00c6ff);
  @include text_content
}

/** 박스 그라데이션 */
.Blue_box {
  background: linear-gradient(135deg, #0072ff, #00c6ff);
  color: #fff;
  border-radius: 5px;
}

.purple_box {
  background: linear-gradient(45deg, #bd34fe, #53baff);
}

.red_box {
  background-image: linear-gradient(-25deg, #f9d423 0%, #ff4e50 100%);
}

/** 다크 모드 시 적용할 되는 CSS */
.Dark {
  background: url("https://raw.githubusercontent.com/light9639/PortFolio/master/src/img/bakcground_dark.jpg");
  h1, h2, h3, a, p, .tech_skill {
    color: #fff;
    transition: .5s;
  }
  .Nav_text {
    :hover {
      opacity: .5;
    }
  }
  .About_box_behind {
    --tw-bg-opacity: 1;
    background-color: rgb(100 116 139 / var(--tw-bg-opacity));
  }
  .About_box,
  .introduce_box {
    --tw-bg-opacity: 1;
      background-color: rgb(30 41 59 / var(--tw-bg-opacity));
  }
  #toggleDarkMode {
    --tw-bg-opacity: 1;
    background-color: rgb(30 41 59 / var(--tw-bg-opacity));
  }
  .Light_button {
    display: none;
  }
  .Dark_button {
    display: block;
  }
}

/** tailwind css @apply 적용 */
.Nav_Github_button {
  @apply flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white
}

.section_box {
  @apply purple_box inline-flex text-white bg-blue-500 border-0 py-2 px-6 rounded text-lg focus:outline-none hover:bg-blue-600
}

.introduce_MainBox {
  @apply introduce_box bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col hover:scale-105 hover:shadow-2xl transition
}

.introduce_text {
  @apply hidden md:inline-block pb-2 md:pb-0
}

.introduce_BlueBox {
  @apply Blue_box inline-flex py-1 px-3 text-base focus:outline-none
}

.introduce_smallBox {
  @apply red_box inline-block rounded-md px-3 py-1 text-sm font-semibold text-white
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}